---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
    level: error
  trailing-spaces:
    level: error
  new-line-at-end-of-file:
    present: true
  document-start:
    present: true
  comments:
    level: warning
